.GalleryGrid {
  margin: 1.5vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.GalleryPic {
  height: 24vw;
  width: 24vw;
}

.GalleryPic img {
  height: 22vw;
  width: 22vw;
  box-shadow: 2px 2px 2px #999;
}
.signature {
  display: flex;
  font-family: "Cinzel Decorative", cursive;
  color: #ffdf00;
  text-shadow: 4px 2px 10px #000;
  font-size: 40px;
  justify-content: center;
  align-content: center;
  z-index: 10;
  width: 100%;
  margin: 2vw;
}

.headerBg {
  background-color: #414a4f;
  min-height: 105px;
  opacity: 0.8;
}

@media (max-width: 420px) {
  .headerBg {
    background-color: #414a4f;
    min-height: 150px;
    opacity: 0.8;
  }
}
